
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/hakkimizda.jpg);">
    
    <div class="container">
        <div class="box">
            <h3>HAKKIMIZDA</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>

<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("Index","Home")">Anasayfa</a>
                </li>
                <!-- comment for inline hack
                -->
                <li>
                    Hakkımızda
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
       
    </div><!-- /.container -->
</div>

<!--Start who we are-->
<section class="who-we-are-area padd-2">
    <div class="container">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="who-we-are-img-holder">
                <img src="@Url.Content("~/Content/Site/images/resource/bizkimiz.jpg")" alt="Awesome Image" class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0s" data-wow-offset="0">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="content">
                <div class="sec-title style-2">
                    <h2><span>Biz Kimiz?</span></h2>
                </div>
                <div class="text">
                    <h3>Kırlangıç Elektrostatik Toz Boya: İzmir'de Uygun Fiyata Mükemmel Sonuçlar</h3>

                    İzmir'in Karabağlar Sanayi bölgesinde 10 yıldan fazla bir süredir faaliyet gösteren Kırlangıç Elektrostatik Toz Boya, metal kaplama ihtiyaçlarınız için güvenilir bir çözümdür. Endüstri standartlarına uygun olarak çalışan dükkanımız, 6 metre genişliği ve 2,5 metre yüksekliği ile büyük parçalarınızın boyanmasını kolaylaştırır. Ayrıca, rekabetçi fiyatlarımız sayesinde bütçenizi zorlamadan yüksek kalitede işçilik sunarız. <br /> <br />

                    <h3>Neden Bizi Seçmelisiniz?</h3><br />
                    <h5>Tecrübe ve Güvenilirlik:</h5> 10 yılı aşkın süredir sektördeyiz ve sayısız başarılı projeye imza attık. Müşterilerimize güvenilirlik ve uzmanlık sunuyoruz. <br />
                                                                                                                                                  <h5>Geniş Fırın Kapasitesi:</h5>  6 metre genişliğe sahip fırınımız, büyük parçaları rahatlıkla                                     işleyebilir, böylece projelerinizi hızlı bir şekilde tamamlayabiliriz. <br />

                                                                                                                                                                                                                                                                                <h5>Ekonomik Fiyatlar:</h5> İşimizi ciddiye alıyoruz, ancak bütçenizi aşmadan kaliteli sonuçlar elde                         etmenize yardımcı oluyoruz. <br />

                    <h5>Özelleştirilmiş Çözümler:</h5> Her müşterinin ihtiyaçları farklıdır. Size özel çözümler sunarak projelerinizi optimize ediyoruz.


                </div>

                
            </div>
        </div>
    </div>
</section>
<!--End who we are -->
