<section class="about-style-one">
    <div class="outer-box clearfix">

        <!--Content Column-->
        <div class="content-column clearfix">
            <div class="content-box">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <!--Section Title-->
                    <div class="sec-title">
                        <h2>Kırlangıç Elektrostatik Toz Boya: <br /> <span>İzmir'de Uygun Fiyata Mükemmel Sonuçlar</span></h2>
                    </div>
                    <div class="text">Karabağlar Sanayi bölgesinin bir parçası olarak, 10 yılı aşkın süredir metal kaplama sektöründe faaliyet gösteriyoruz. Geniş fırın kapasitemiz ve uzman ekibimizle projelerinizi en yüksek kalitede ve uygun fiyatlarla tamamlamak için buradayız. Müşterilerimize güvenilirlik ve mükemmel sonuçlar sunuyoruz. Projelerinizi başarıyla sonuçlandırmak için bize güvenebilirsiniz.</div>
                    <div class="link-btn"><a href="@Url.Action("Index","About")" class="btn-style-two">BİZ KİMİZ <span class="fa fa-long-arrow-right"></span></a></div>
                </div>
            </div>
        </div>

        <!--Image Column-->
        <div class="image-column" style="background-image:url(@Url.Content("~/Content/Site/images/resource/about.jpg"));">
        <div class="image"><img src="@Url.Content("~/Content/Site/images/resource/about.jpg")" alt=""></div>
        <a href="https://www.youtube.com/watch?v=vfBAbXsu6vE" class="overlay-link video-fancybox"><span class="icon fa fa-play"></span></a></div>

    </div>
</section>
