<!--Call to Action-->
<section class="call-to-action bg-1 padd-1">
    <div class="container">
        <div class="row clearfix">
            <!--Icon Column-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon">
                        
                        
                        <a href="tel:+905513975057" style="color: #FE1848">

                            <span class="flaticon-technology">

                            </span>
                        </a>  

                    </div>
                    
                    <h3>Bizi Arayın <a href="tel: +905513975057" style="color:#FE1848">0551 397 50 57</a></h3>

                    <div class="text">Aşık Veysel, 4003. Sk. No:7/A D:35110, 35000 Karabağlar/İzmir</div>
                </div>
            </div>
            <!--Icon Column-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-circular-clock-tool"></span></div>
                    <h3>Çalışma Saatlerimiz</h3>
                    <div class="text">Pzt - Cum 09:00 - 19:00  <br /> Cmt 09:00 - 14:00 / Pazar : Kapalı</div>
                </div>
            </div>

            <!--Link Column-->
            <div class="column link-column col-md-4 col-sm-6 col-xs-12">
                <div class="link-btn5">
                    <a href="https://wa.me/+905513975057" target="_blank" class="btn-style-two">Bİze Mesaj Atın</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Services Two-->

