<!--Start rev slider wrapper-->
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="slotzoom-horizontal">
                <img src="@Url.Content("~/Content/Site/images/slider/slider_4.jpg")" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="170"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:6000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1>Kırlangıç Elektrostatik Toz Boya</h1>
                        <p>10 yılı aşkın süredir sektördeyiz ve sayısız başarılı projeye imza attık. <br /> Müşterilerimize güvenilirlik ve uzmanlık sunuyoruz.</p>
                    </div>
                </div>
                
                
            </li>
            <li data-transition="slotzoom-horizontal">
                <img src="@Url.Content("~/Content/Site/images/slider/slider_5.jpg")" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="170"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:6000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1>İzmir'de Uygun Fiyata <br /> Mükemmel Sonuçlar</h1>
                        <p>İşimizi ciddiye alıyoruz, ancak bütçenizi aşmadan kaliteli sonuçlar elde etmenize yardımcı oluyoruz. </p>
                    </div>
                </div>
                
                
            </li>
            <li data-transition="slotzoom-horizontal">
                <img src="@Url.Content("~/Content/Site/images/slider/slider_3.jpg")" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="170"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:6000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1>Geniş Fırın Kapasitesi</h1>
                        <p>6 metre genişliğe sahip fırınımız, büyük parçaları rahatlıkla işleyebilir,<br /> böylece projelerinizi hızlı bir şekilde tamamlayabiliriz.</p>
                    </div>
                </div>
                
                
            </li>
        </ul>
    </div>
</section>
<!--End rev slider wrapper-->
